.product-container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
}

.main-container {
    display: flex;
   padding-right: 32px;
}
.shopping-card {
    width: 25vw;
}

.logo {
    height: 30px;
}

.links-container {
    display: flex;
    gap: 8px;
}

.links {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.links:hover {
    scale: 1.05;
    text-decoration: underline;
    transition: 125ms;
    color: green;
    text-underline-offset: 2px;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.logo-container {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 700;
}

@media (max-width: 850px){
    .product-container {
        flex-direction: column;
    }
}